<script src="static/js/jquery.min.js" tppabs=""></script>


<!--BootstrapJS [ RECOMMENDED ]-->
<script src="static/js/bootstrap.min.js" tppabs=""></script>


<!--NiftyJS [ RECOMMENDED ]-->
<script src="static/js/nifty.min.js" tppabs=""></script>




<!--=================================================-->

<!--Demo script [ DEMONSTRATION ]-->
<script src="static/js/nifty-demo.min.js" tppabs=""></script>


<!--Flot Chart [ OPTIONAL ]-->
<script src="static/js/jquery.flot.min.js" tppabs=""></script>
<script src="static/js/jquery.flot.resize.min.js" tppabs=""></script>
<script src="static/js/jquery.flot.tooltip.min.js" tppabs=""></script>


<!--Sparkline [ OPTIONAL ]-->
<script src="static/js/jquery.sparkline.min.js" tppabs=""></script>


<!--Specify page [ SAMPLE ]-->
<script src="static/js/dashboard.js" tppabs=""></script>

<!--jquery confirm插件-->
<script src="static/js/jquery.confirm.min.js"></script>